
<div class="col-xl-4 col-lg-12">
	<div class="card">
		<div class="card-header">
			<h4 class="card-title" id="heading-multiple-thumbnails">Profil bilgileri ve istatistikler</h4>
			<a class="heading-elements-toggle">
				<i class="la la-ellipsis-v font-medium-3"></i>
			</a>

		</div>
		<div class="card-content">
			<div class="card-body">
				<h4 class="card-title">İstatistikler</h4>
				<p class="card-text">
					Aktif Rezervasyon Sayınız: 5 <br />
					Geçmiş Rezervasyon Sayınız: 5 <br />
					Onay Bekleyen Rezervasyon Sayınız: 5 <br />
					Toplam Rota Sayısı: 5 <br />
					Toplam Rehber Sayısı: 5 <br />
					Toplam Misafir Sayımız: 5
				</p>
			</div>
		</div>
	</div>
</div>